<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
</head>
<body>
    <h1>Welcome <%= user.name || 'Admin' %>!</h1>
    <!-- <h1>Welcome, <%= user.name %> (Admin)</h1> -->


    <h2>Your :</h2>

</body>
</html>
