<!DOCTYPE html>
<html>

<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/dashboard.css"> <!-- Link to external CSS for styling -->
</head>

<body>
    <h1>Welcome, <%= user.name %> (Admin)</h1>


    <h2>Your subjects:</h2>
    <ul>
        <li><a href="/subject/create" class="button">Create Subject</a></li>
        <li><a href="/subject/view" class="button">View Subjects</a></li>
    </ul>

    <form action="/auth/logout" method="GET">
        <button type="submit">Logout</button>
    </form>

</body>

</html>