<!DOCTYPE html>
<html>

<head>
    <title>Admin Dashboard</title>
</head>

<body>
    <h1>Welcome, <%= user.name %> (Admin)</h1>


    <h2>Your subjects:</h2>
    <ul>
        <li><a href="/subject/create">Create Subject</a></li>
        <li><a href="/subject/view">View Subjects</a></li>
    </ul>

    <form action="/auth/logout" method="GET">
        <button type="submit">Logout</button>
    </form>

</body>

</html>