body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fc;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: white;
    background-color: #ff8400;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #007BFF;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

a button {
    padding: 8px 16px;
    font-size: 14px;
    background-color: #ff8400;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

a button:hover {
    background-color: #974f1e;
}

a {
    text-decoration: none;
    display: inline-block;
    margin-top: 0px;
    font-weight: bold;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}

/* Center the button under the table */
.button-container {
    text-align: center;
    margin-top: 20px;
}